window {
    background-color: #303030
}

window * {
    color: white;
}

progressbar trough {
    background-color: rgba(255, 255, 255, 0.3);
}

progressbar progress {
    background-color: white;
}

window#osd {
  padding: 25px 20px;
  border-radius: 999px;
}

#container {
  margin: 0;
}


