* {
  border: none;
  font-family: 'Fira Code', 'Symbols Nerd Font Mono';
  font-size: 16px;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar {
  background: transparent;
}

#workspaces button {
  color: white;
  padding: 0px;
  margin-right: 20px;
}

button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none;
  transition: none;
}

#workspaces, #clock, #pulseaudio, #custom-gdm, #custom-reboot, #custom-shutdown, #tray {
  color: white;
  margin: 20px 0px 5px 0px;
}
 
#clock, #pulseaudio {
  font-weight: bold;
}

#custom-space-1, #custom-space-3 {
  margin-right: 25px;
}
 
#custom-space-2 {
  margin-right: 15px;
}
