window {
background-color: #1E1E1E;
font-size: 20px;
}

#input {
margin: 20px 20px 20px 20px;
color: #ffffff;
background-color: #303030;
}

#input image {
color: #ffffff;
}

#inner-box {
margin: 0px 20px 0px 20px;
border: none;
}

#outer-box {
background-color: #1E1E1E;
border: 2px solid #FFFFFF;
}

#text {
margin: 5px;
color: #ffffff;
} 

#entry:selected {
background-color: #303030;
outline: none;
}
