* {
border-radius: 15px;
}

#window {
font-size: 20px;
}

#input {
margin: 20px 20px 20px 20px;
color: white;
background-color: #303030;
border-radius: 15px;
padding-top: 3px;
padding-bottom: 3px;
box-shadow: none;
border: 2px solid white
}

#input image {
color: white;
margin-left: 5px;
}

#inner-box {
margin: 0px 20px 0px 20px;
border: none;
}

#outer-box {
background-color: #1E1E1E;
border: 2px solid white;
}

#text {
margin: 5px;
color: white;
} 

#entry:selected {
background-color: #303030;
outline: none;
border-radius: 15px;
}
